.dapp-sidebar {
  height: 100vh;
  display: flex;
  padding-top: 100px;
  flex-direction: column;
  transition: 0.3s all;

  .dapp-menu-links {
    .dapp-nav {
      display: flex;
      flex-flow: column;

      > a {
        margin-top: 20px;
        margin-left: 20px;
        align-items: center;
        margin-bottom: 20px;
        text-decoration: none;

        &:hover {
          color: #253449cc;
          text-decoration: underline;
        }

        img {
          width: 20px;
          height: 20px;
          vertical-align: -4px;
        }
      }

      .safe-sublink {
        a {
          align-items: center;
          display: block;
          margin-bottom: 16px;
          margin-left: 32px;
          text-decoration: none;

          &:hover {
            color: #253449cc;
            text-decoration: underline;
          }

          img {
            width: 20px;
            height: 20px;
            margin-right: 10px;
            vertical-align: -4px;
          }
        }
      }

      .button-dapp-menu {
        cursor: pointer;
        .dapp-menu-item {
          display: flex;
          flex-direction: row;
          align-items: center;
        
          p {
            font-weight: 600;
            font-size: 16px;
            color: #253449;
            font-family: Montserrat SemiBold;
          }
        }
      }

      .button-dapp-menu.active {
        .dapp-menu-item {
          p {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .dapp-menu-doc-link {
    margin-top: auto;
    
    a {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
      text-decoration: none;

        &:hover {
          color: #253449cc;
          text-decoration: underline;
        }

      img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }

      p {
        font-family: Montserrat SemiBold;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #253449;
      }
    }
  }

  .social-row {
    justify-content: space-evenly;
    padding: 1.3rem;
    a {
      &:hover {
        transform: scale(1.1);
      }
      img {
        height: 20px;
        width: 20px;
      }
    }
  }
}

.MuiDrawer-root {
  .MuiPaper-root {
    
    z-index: 7;
    background: #d3fbff;
  }
}
