.outer {
    background: rgb(255 255 255 / 35%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.inner {
    padding-top: 32px;
    padding-bottom: 32px;
}