.details-section-wrapper {
    margin-top: 24px;

    .total-liquidity {
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .styled-link-external {
        font-weight: 400;
    }
}